@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --background: #181818;
  --background-secondary: #1a1a1a;
  --deafult: #2c2c2c;
  --primary: #664df8;
  --primary-secondary: #836dff;
  --secondary: #fda841;
  --white: #fff;
  --dark: #1a1a1a;
}

body {
  color: var(--white);
  background-color: var(--background);
}
